header {
    display: flex;
    flex-direction: row;

    background: black;
    background-size: contain;
    background-position: center;
    background-position-y: center;
    background-repeat: no-repeat;
        
    height: contain;
  
    vertical-align: middle;
    align-content: center;
    align-items: center;
  
    overflow: hidden;
  }
  
  @media (max-width: 1400px) {
    header {
        background-size: cover;
        background-position: center;
    }
  }
  
  @media (max-width: 800px) {
    header span {
        font-size: large;
    }
  }
  
  @media (max-width: 315px) {
    header { 
        display: none; 
    }
  }
  