/* setup css veriables */
:root {
  --primary-color: #1B3E70;
  --secondary-color: rgb(164, 125, 45);
  --text-color: #FFFFFF;
}
  
hr {
  height: 1px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

a, a:hover {
  text-decoration: none;
}

nav {
  min-height: 100px;
  
  display: grid;
  gap: 10px;
  grid-template-columns: 110px auto minmax(100px, 150px);
  align-items: center;

  background-color: var(--primary-color);
  position: sticky; top: 0;

  & ul { 
    padding-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-content: left;

    & li {

      padding-left: 5px;
      padding-right: 5px;
    
      margin-right: 2.5vw;
      padding-top: 1vh;
      padding-bottom: 1vh;
      font-family: oxtail, sans-serif;
      text-transform: uppercase;
    
      text-align: center;
    }
  }

  & ul li:hover {
    background-color: white;

    & a {
      color: black;
    }
  }

  & a, a:visited {
    display: inline-block;
    text-decoration: none;
    color:  white;
    font-size: 14px;
  }

  & .buttonLink {
    margin: 0px 15px;
  }
}

header {
  display: flex;
  flex-direction: row;

  background: black;
  background-size: contain;
  background-position: center;
  background-position-y: center;
  background-repeat: no-repeat;
      
  height: contain;

  vertical-align: middle;
  align-content: center;
  align-items: center;

  overflow: hidden;
}

@media (max-width: 1400px) {
  header {
      background-size: cover;
      background-position: center;
  }
}

@media (max-width: 800px) {
  header span {
      font-size: large;
  }
}

@media (max-width: 315px) {
  header { 
      display: none; 
  }
}

.logoLink { text-align: right; }

.buttonLink {
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;

  & a, :visited, :hover { 
    color: white;
  }
}

.hero {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  padding-top: 20vh;

  font-family: oxtail, sans-serif;
  text-transform: uppercase;

  color: white;
}

.outline {
  color: rgba(255, 255, 255, 0);

  -webkit-text-stroke-color: #FFFFFF;
  -webkit-text-stroke-width: 0.7px;

  stroke: rgb(255, 255, 255);  
  stroke-width: 0.7px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);

  width: 100%;
  color: #cccccc;

  padding: 0;
  
  & ul { 
    list-style-type: none;
  }

  & .footerDetails {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    gap: 10px;
  }

  & .copyright {
    width: 100%;
    text-align: center;
    background-color: #0C2549;
    color: #999999;
    font-size: medium;
    padding-top: 1vh;
  }

  & .logos {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;    

    color: white;
    font-family: oxtail, sans-serif;
    text-transform: uppercase;
  }
}

.primary {
    background-color: var(--primary-color);
    color: var(--text-color)
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color)
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #f6f6f6;

  & h1, h2, h3 {
    font-size: xx-large;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
  }

  & h4 {
    font-size: x-large;
    color: white;    
  }

  & section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-family: oxtail, sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.2em;
      font-size: x-large;
    }

    & h3 {
      font-family: oxtail, sans-serif;
      font-weight: 500;
      text-transform: uppercase;
    }
  
    & img {
      max-width: 500px;
      max-height: 333px;
    }

    & .paddedTop {
      padding-top: 2vh;
    }
  }

}

.centeredContent {
  max-width: 1150px;
  padding: 2vh;
}

.whatsOnPanel {

  padding: 10px;
  margin-bottom: 25px;

  border: 2px solid var(--primary-color);

  & h2 {
    margin: 0;
    padding: 0;

    font-family: oxtail, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: x-large;
  }

  & h3 {
    margin: 0;
    padding: 0;

    font-family: oxtail, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
} 

.alternate {
  background-color: var(--primary-color);
}

.split {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  
  
  gap: 10px;

  padding: 25px;

  & div {
    min-width: 300px;
    width: 45%;
  }

  & img {
    width: 100%;
  }
}

.map {
  min-height: 35vh;
}

.instagramFeed {
  min-width: 60vw;
  min-height: 50vh;
}