nav {
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    background-color: #1B3E70;
    position: sticky; top: 0;
  } 
  
  nav ul { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  nav ul li {
    font-family: oxtail, sans-serif;
    text-transform: uppercase;
  }
  
  nav a, nav a:visited {
    display: inline-block;
    padding: 1vh 2vw;
    text-decoration: none;
    color:  white;
    font-size: 14px;
  }
  
  nav ul li:hover {
    background-color: white;
  }
  
  nav ul li:hover a {
    color: black;
  }

  .buttonLink {
    margin: 5px 15px;
    border: 1px solid white;
    cursor: pointer;
  }