nav {
    min-height: 100px;
    
    display: grid;
    gap: 10px;
    grid-template-columns: 110px auto minmax(100px, 150px);
    align-items: center;
  
    background-color: #1B3E70;
    position: sticky; top: 0;
  } 
  
  nav ul { 
    padding-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-content: left;
  }

  nav ul li {

    padding-left: 5px;
    padding-right: 5px;

    margin-right: 2.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: oxtail, sans-serif;
    text-transform: uppercase;

    text-align: center;
  }
  
  nav a, nav a:visited {
    display: inline-block;
    text-decoration: none;
    color:  white;
    font-size: 14px;
  }
  
  nav ul li:hover {
    background-color: white;
  }
  
  nav ul li:hover a {
    color: black;
  }

  .logoLink {
    text-align: right;
  }

  .buttonLink {
    text-align: center;
    margin: 0px 15px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
  }