.carousel {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &:not(:has(.heroLogo)) {
        height: auto;
        min-height: 300px
    }

    @media (min-width: 1024px) {
        display: block;
    }

}
