:root {
  --primary-color: #08080a;
  --secondary-color:#ea9c2a;
  --text-color: #FFFFFF;
  --spacer: 2rem;
  --header-height: 76vh;
}

a, a:hover {
  text-decoration: none;
}

p {
  max-width: 700px;
}

nav {
  position: absolute;
  top: 0;
  min-height: 100px;
  width: 100%;
  padding: var(--spacer);
  font-family: alice, serif;
  font-size: clamp(1.3rem, 2vw, 20px);
  text-transform: uppercase;
  
  & ul { 
    display: flex;
    justify-content: space-between;
    padding: 0;
    text-align: center;
    list-style: none;
    
    & li {
      margin: 0 1rem;

      & a::after {
        content: "";
        display: block;
        background: white;
        height: 2px;
        width: 0%;
        transition: transform 0.3s ease-in-out 0s;
        transform: scale(0);
      }
    
      & a:hover::after {
        transform: scale(1);
        width: auto;
      }
    
      & a, a:visited {
        color:  white;
      }
    }
  }
}

.home {
  top: 54vh;
  
  .logoLink {
    display: none;
  }

  .buttonLink {
    display: block;
    width: max-content;
    margin: 2rem auto;
  }
}

header {
  display: flex;
  flex-direction: row;

  background-size: contain;
  background-position: center;
  background-position-y: center;
  background-repeat: no-repeat;
      
  height: 78vh;

  vertical-align: middle;
  align-content: center;
  align-items: center;

  overflow: hidden;
}

.hero {
  margin-top: var(--spacer);
  text-align: center;
  font-family: oxtail, sans-serif;
  text-transform: uppercase;
  color: white;
}

.heroLogo {
  min-width: 120px;
  max-width: 60%;
  max-height: 40vh;
  object-fit: contain;
}

.homeHeader {
  height: var(--header-height);
}

.title {
  display: none;
}

.logoLink { 
  max-width: 200px;
}

.buttonLink {
  padding: 1rem 2rem;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  
  &:hover {
    box-shadow: inset 0 -3.25em 0 0 var(--secondary-color);
    color: var(--primary-color);
  }
}

.buttonLink.alternate {
  border: 1px solid var(--primary-color);
    
  &:hover {
    box-shadow: inset 0 -3.25em 0 0 var(--primary-color);
    color: var(--secondary-color);
  }
}

.intro {
  position: relative;
  margin: var(--spacer);
  padding: calc(var(--spacer));
  text-align: center;
  max-width: 900px;

   &::after {
    content: "";
    position: absolute;
    top: calc(var(--spacer) / 2);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem + 20px);
    height: calc(100% - 2rem);
    border: 1px solid var(--secondary-color);
  }
  
  &::before {
    content: "";
    position: absolute;
    top: calc(var(--spacer) / 2 - 10px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    height: calc(100% - 2rem + 20px);
    border: 1px solid var(--secondary-color);
  }
  P {
    margin: 1em;
  }
}

.outline {
  color: rgba(255, 255, 255, 0);

  -webkit-text-stroke-color: #FFFFFF;
  -webkit-text-stroke-width: 0.7px;

  stroke: rgb(255, 255, 255);  
  stroke-width: 0.7px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);

  width: 100%;
  color: #cccccc;

  padding: 0;
  padding-top: 2vh;

  & div, & section, & p {    
    overflow-wrap: anywhere;
  }
  
  & ul { 
    list-style-type: none;
  }

  & .footerDetails {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    gap: 10px;
    width: 100%;
  }

  & .copyright {
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: medium;
    padding-top: 1vh;
  }

  & .logos {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;    

    color: white;
    font-family: oxtail, sans-serif;
    text-transform: uppercase;
  }
}

.primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-bottom: var(--spacer);
}
  
.secondary {
  padding-bottom: var(--spacer);
  background-color: var(--primary-color);
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #f6f6f6;

  min-height: 30vh;

  & h1, h2, h3 {
    font-size: 2.6em;
  }

  & h4 {
    font-size: x-large;
  }

  & section {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-wrap: break-word;

    & .paddedTop {
      padding-top: var(--spacer);
    }
  }

}

img .sideBySide {
  width: 100%;
  max-width: 500px;
  max-height: 333px;
}

.fullWidth {
  width: 60vw;
}

.centeredContent {
  width: 100%;
  max-width: 1150px;
  padding: var(--spacer);
}

.centerAligned {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.whatsOnPanel {

  padding: 10px;
  margin-bottom: 25px;

  border: 2px solid var(--primary-color);

  & h2 {
    margin: 0;
    padding: 0;

    font-family: oxtail, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: x-large;
  }

  & h3 {
    margin: 0;
    padding: 0;

    font-family: oxtail, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
} 

.split {
  display: flex;
  flex-flow: row wrap;

  vertical-align: top;
  align-items: flex-start;
  justify-content: space-between;  
  
  gap: 10px;

  & div {
    width: 400px;
    min-width: 45%;
    flex-grow: 1;
    padding: 25px;
    
    & img {
      width: 100%;
    }
  }
}

.alternate {
  background-color: var(--primary-color);
  color: white;
  flex-flow: row wrap;
}

.map {
  min-height: 35vh;
}

.instagramFeed {
  width: 100%;
  max-width: 60vw;
  min-height: 50vh;
}

.designMyNightTarget {
  width: 70vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 25px;
}

.formSpree {
  width: 100%;
  max-width: 530px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

.invisible {
  display: none;
}

.formGroup {
  width: 100%;

  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: left;
  gap: 10px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  border: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 10vh;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (min-width: 1050px) {
  nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    top: 0;
    white-space: nowrap;

    & ul {
      flex-wrap: wrap;
    }

    & .buttonLink {
      justify-self: flex-end;
    }
  }

  .hero {
    display: flex;
    margin: 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home {
    top: 0;
  
    & .buttonLink {
      margin: 0;
    }
}

}
