:root {
  --primary-color: #08080a;
  --secondary-color:#ea9c2a;
  --text-color: #FFFFFF;
  --spacer: 2rem;
  --header-height: 76vh;
}

body {
  background-color: var(--primary-color);
}

a, a:hover {
  color: white;
  text-decoration: none;
}

p {
  max-width: 700px;
}

img {
  display: inline-block;
  max-width: 100%;
}

header {
  position: relative;
  background-size: contain;
  background-position: center;
  background-position-y: center;
  background-repeat: no-repeat;
      
  vertical-align: middle;
  align-content: center;
  align-items: center;

  overflow: hidden;
}


nav {
  min-height: 100px;
  width: 100%;
  padding: var(--spacer);
  font-family: alice, serif;
  font-size: clamp(1rem, 2vw, 20px);
  text-transform: uppercase;
  z-index: 2;
  
  & ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    gap: 1rem;
    
    & li {
      margin: 0rem;

      & a::after {
        content: "";
        display: block;
        background: white;
        height: 2px;
        width: 0%;
        transition: transform 0.3s ease-in-out 0s;
        transform: scale(0);
      }
    
      & a:hover::after {
        transform: scale(1);
        width: auto;
      }
    
      & a, a:visited {
        color:  white;
      }
    }
  }
}

.carousel {
  position: relative;
  z-index: 1;
}

.home {
  position: absolute;
  .logoLink {
    display: none;
  }
}

.headerTitle {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3rem;
  margin: 1rem auto;
  line-height: 1.4em;

  &::after {
    content: "▿";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    font-size: 1.5rem;
    animation: float 3s ease-in-out infinite;
    transform: translateX(50%) ;

  }
}

.heroLogo {
  max-width: 200px;
}

.homeHeader {
  height: 100svh;

  & .heroLogo {
    min-width: 120px;
    max-width: 80%;
    max-height: 40vh;
    object-fit: contain;
  }
}

.homeHeader .hero {
  padding-top: 25vh;
}

.buttonLink {
  display: block;
  width: max-content;
  margin: 2rem auto;
  line-height: 1rem;
  padding: 1rem 2rem;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  text-wrap: nowrap;
  
  &:hover {
    box-shadow: inset 0 -3.25em 0 0 var(--secondary-color);
    color: var(--primary-color);
  }
}

.tightButtonLink {
  display: block;
  width: fit-content;
  margin: auto;
  line-height: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  
  &:hover {
    box-shadow: inset 0 -3.25em 0 0 var(--secondary-color);
    color: var(--primary-color);
  }
}

.buttonLink.alternate {
  border: 1px solid var(--primary-color);
    
  &:hover {
    box-shadow: inset 0 -3.25em 0 0 var(--primary-color);
    color: var(--secondary-color);
  }
}

.hero {
  text-align: center;
  font-family: oxtail, sans-serif;
  text-transform: uppercase;
  color: white;
}

.title {
  display: none;
}

.logoLink { 
  display: block;
}

.nav {
  & .navLogo {
    max-width: 100px;
  }

  & .logoLink {
    width: 100%;
    text-align: center;
  }
}


.header {
  position: relative;
  min-height: 300px;

  & .hero {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
      font-size: clamp(2rem, 3vw, 4rem);
    }

    & h3 {
      text-transform: none;
    }
  }
}

.intro {
  position: relative;
  margin: var(--spacer);
  padding: var(--spacer) var(--spacer) calc(var(--spacer) * 2);
  text-align: center;
  max-width: 900px;

   &::after {
    content: "";
    position: absolute;
    top: calc(var(--spacer) / 2);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem + 20px);
    height: calc(100% - 2rem);
    border: 1px solid var(--secondary-color);
  }
  
  &::before {
    content: "";
    position: absolute;
    top: calc(var(--spacer) / 2 - 10px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    height: calc(100% - 2rem + 20px);
    border: 1px solid var(--secondary-color);
  }
  P {
    margin: 1em;
  }
}

.outline {
  color: rgba(255, 255, 255, 0);

  -webkit-text-stroke-color: #FFFFFF;
  -webkit-text-stroke-width: 0.7px;

  stroke: rgb(255, 255, 255);  
  stroke-width: 0.7px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 2vh;
  border: 1px solid var(--secondary-color);
  background-color: black;
  color: white;

  & div, & section, & p {    
    overflow-wrap: anywhere;
  }
  
  & ul { 
    list-style-type: none;
  }

  & .footerDetails {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    gap: 10px;
    width: 100%;
  }

  & .copyright {
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: medium;
    padding-top: 1vh;
  }
  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -10px;
    display: block;
    width: calc(100% + 20px);
    border-top: 1px solid var(--secondary-color);
  }
}

.primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-bottom: var(--spacer);
}
  
.secondary {
  background-color: var(--primary-color);
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #f6f6f6;

  min-height: 30vh;

  & h1, h2, h3 {
    font-size: 2.6em;
  }

  & h4 {
    font-size: x-large;
  }

  & section {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-wrap: break-word;

    & .paddedTop {
      padding-top: var(--spacer);
    }

    & .pagewide {
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 50vh;

      & .centerAligned {
        padding-top: 15vh;
      }

      & .spotlightText {
        padding: 1vw;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        text-align: center;
      }
    }
  }

}

.menufullWidth {
  width: 60vw;
}

.centeredContent {
  width: 100%;
  max-width: 1150px;
  padding: var(--spacer);
  text-align: center;
}

.centerAligned {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.whatsOnPanel {

  padding: 10px;
  margin-bottom: 25px;

  border: 2px solid var(--primary-color);

  & h3 {
    margin: 0;
    padding: 0;

    font-family: alice, sans-serif;
    font-weight: 500;
  }
} 

.map {
  min-height: 35vh;
}

.instagramFeed {
  width: 100%;
  max-width: 60vw;
  min-height: 50vh;
}

.designMyNightTarget {
  width: 70vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 25px;
}

.formSpree {
  width: 100%;
  max-width: 530px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

.invisible {
  display: none;
}

.formGroup {
  width: 100%;

  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: left;
  gap: 10px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  border: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 10vh;
  border-radius: 4px;
  box-sizing: border-box;
}

.reservation {
  background-color: var(--primary-color);

  & h2 {
    color: white;
  }
}

@media (min-width: 1050px) {
  nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    top: 0;
    white-space: nowrap;

    & ul {
      flex-wrap: nowrap;
  
      & li {
        margin: 0 1rem; 
      }
    }

    & .buttonLink {
      justify-self: flex-end;
    }
  }

  .nav {
    display: flex;
    position: relative;
    min-height: auto;
    align-items: center;
    padding: 0;
    & .buttonLink {
      margin: var(--spacer);
    }

    & .navLogo {
      max-width: calc(100px + var(--spacer) * 2);
      max-height: calc(80px + var(--spacer) * 2);
      padding: 10px var(--spacer)
    }

    & .logoLink {
      max-width: 165px;
    }
  }

  .hero {
    margin: 0;

  }
  
  .homeHeader {
    height: 70vh;
    
    .hero {
      padding-top: 160px;
    }
  }

  .home {
    top: 0;
  
    & .buttonLink {
      margin: 0;
    }
  }

  .headerTitle::after {
    display: none;
  }

  .centeredContent {
    text-align: left;

    & h2 {
      margin-top: 0;
    }
  }

  .split {
    display: flex;
    flex-flow: row wrap;

    vertical-align: top;
    align-items: flex-start;
    justify-content: space-between;  
    
    & div {
      width: 400px;
      min-width: 45%;
      flex-grow: 1;
      padding: var(--spacer);
      
      & img {
        width: 100%;
      }
      
      & h3 {
        margin-top: 0px;
        padding-top: 0;
      }
    }

  }

  .alternate {
    background-color: var(--primary-color);
    color: white;
    flex-flow: row wrap;
  }

  .sectionTitle {
    color: var(--secondary-color);
    text-align: center;
  }

}

@keyframes float {
	0% {
		transform: translateY(0px) translateX(-50%) scaleX(1.3);
	}
	60% {
		transform: translateY(1rem) translateX(-50%) scaleX(1.3);
	}
	100% {
		transform: translateY(0px) translateX(-50%) scaleX(1.3);
	}
}

/* gallery */

.gallery {
  --s: 20vw; /* controls the size */
  --g: 1vw;  /* controls the gap */

  --cols: 3;

  display: grid;
  gap: var(--g);
  width: calc(var(--cols) *var(--s) + 2*var(--g)); /* 3 times the size plus 2 times the gap */
  aspect-ratio: 1;
  grid-template-columns: repeat(var(--cols), auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  transition: ease-in 0.5s;
}

.gallery {
  --f: 2; /* controls the scale factor */
}

.gallery img:hover{
  /*width:  calc(var(--s) * var(--f));*/
  height: calc(var(--s) * var(--f));
  width: 98vw;  
}