html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {    
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7em;
    font-family: var(--font-secondary)

  }
  
  h1, h2, h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2em;
}
